.container {
    width: 1140px;
    margin: 0 auto;

}

.header {
    background-color: var(--black);
}
.header__logo {
    margin: 0 41px 0 0;
}

.loupe__search {
    /* display: none; */
    position: absolute;
    height: 30px;
    top: 33px;
    left: 310px;
    border: none;
    border-bottom: 1px solid white;
    background-color: var(--black);
    color: white;
}

.header__button {
    background-color: transparent;
    border: 0;
}
.header__link {
    margin: 0 0 0 33px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.ellipse {
    display: none;
    position: absolute;
    z-index: 9999;
    right: 170px;
    top: 18px;
}

.ellipse-num {
    color: white;
    position: absolute;
    z-index: 9999;
    right: 176px;
    top: 4.5px;
}